server:
  port: 9004

spring:
  application:
    name: paymentService
  datasource:
    url: jdbc:postgresql://localhost:5432/payment_service
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update