server:
  port: 9000

spring:
  application:
    name: productCommandService

  datasource:
    url: jdbc:postgresql://localhost:5432/product_service
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update